.turn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 1vw;
    color: black;
    font-weight: bolder;
    background-color: gray;
    opacity: .4;

  }
  .on{
    opacity: 1;
    background-color: aqua;
  }

  @media (max-width:560px) {
      .turn{
        width: 10vw;
        height: 10vw;
        border-radius: .7rem;
      }
  }